body{
    margin: 0;
    padding: 0;
}

.card{
    
    height: auto;
    width: 10rem;
    padding: 8px;
    border-radius: 5%;
    background-color: rgb(244, 246, 246);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-image{
    border-radius: 5%;
    width: 10rem;
    height: 9rem;
    padding: 3px;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1.5rem;
    column-gap: 2rem;
    
}
.shimmer_container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;  
    gap: 10px;
}
.shimmer_card{
    width: 15rem;
    height: 25rem;
    background-color: black;
}